/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* SF PRO REGULAR */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../src/assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* SF PRO MEDIUM */
@font-face {
    font-family: 'SF Pro Display';
    src:url('../src/assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* SF PRO BOLD */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../src/assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* SF PRO SEMIBOLD */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../src/assets/fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../src/assets/fonts/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* TIMES NEW ROMAN */
@font-face {
    font-family: 'Times New Roman';
    src: url('../src/assets/fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('../src/assets/fonts/TimesNewRomanPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply h-full scroll-smooth;
    }

    body{
        @apply flex flex-col bg-white text-black p-0 text-sm font-normal h-full;
    }

    #root{
        @apply flex flex-col h-full;
    }
    
    img {
        @apply max-w-full h-auto;
    }

    main{
        @apply flex-grow;
    }

    h1 {
        @apply text-3xl font-bold md:text-5xl font-primary;
    }
    
    h2 {
        @apply text-2xl font-bold md:text-4xl font-primary;
    }
    
    h3 {
        @apply text-xl font-bold md:text-3xl font-primary;
    }
    
    h4 {
        @apply text-lg font-bold font-primary;
    }

}

